<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dispaly html</title>
    <style>
        table,td,th
        {
            border-collapse: collapse;
            border: 2px solid black;
            border-radius: 3px;
            padding: 3px;
            text-align: center;
        }
        body
        {
            text-align: center;
            background-color: bisque;
        }
   
    </style>
</head>
<body>
    <h1> Database</h1>
<center>
<table >
    <tr>
        <th> country_ID</th>
        <th> country_name</th>
    </tr>
    {% for co in country %}
    <tr>
        <td>{{co.country_ID}} </td>
        <td>{{co.country_name}}</td>



    </tr>
    {% endfor %}




</table>  
</center>  
</body>
</html>